node_modules/
dist/
.env
.DS_Store
*.log
vendor/
composer.lock
package-lock.json
.vscode/
.idea/
.phpunit.result.cache
storage/*.key
public/storage
public/hot
public/build
auth.json
.phpunit.cache
.env.backup
.env.production